<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href= "/css/Bootstrap.min.css" >
	<link rel= "stylesheet" href= "css/Bootstrap-theme.min.css" >
	
	<title>Assistente Medico</title>
</head>
<body>
	<header> 
		<%- include('../templates/menu.ejs') %>
	</header>