<nav class="navbar navbar-expand-lg bg-dark text-white-50"><a href="/" class="navbar-brand">AAS</a><ul class="navbar-nav .text-light">
	<li class="nav-item">
		<a href="/medicos-listar" class="nav-link">Médicos</a>
	</li>
</ul>
</nav>